.bg-primary {
  background-color: var(--primary);
}

.bg-grid {
  background-image: url('/grid.png');
}

.bg-grid-white {
  background-image: url('/grid-white.png');
}

.hero-heading {
  color: #f3f3f3;
  font-style: normal;
  font-weight: bold;
  line-height: 110%;
}

.hero-heading-700 {
  color: #f3f3f3;
  font-weight: 700;
  line-height: 130%;
}

.ui-text {
  color: #f3f3f3;
  font-weight: 300;
  line-height: 150%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  line-height: 32px;
  transition: 0.2s all linear;
}

.button:hover {
  opacity: 0.8;
}

.primary-button {
  background-color: white;
  color: var(--primary);
}

.secondary-button {
  background-color: var(--primary);
  color: white;
}

.outlined-button {
  background-color: transparent;
  color: white;
  border: 2px solid #7d98a6;
}

.step-item .step-item-label {
  border: 3px solid #7d98a6;
  background: var(--primary);
}

.step-item a {
  width: 100%;
}

.step-item .step-item-id {
  background: #7da3b6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:
    0px 1px 5px 0px rgba(3, 0, 92, 0.09),
    0px 6px 16px 0px rgba(3, 0, 92, 0.12);
  position: relative;
  top: 21px;
}

.video-container {
  background: #99b6c5;
  position: relative;
}

.video-container video {
  border-radius: 24px;
}

.video-container .control-btn {
  border-radius: 50%;
  position: absolute;
  background-color: rgba(99, 133, 150);
}

.video-container .video-overlay {
  border-radius: 24px;
  background-color: rgba(99, 133, 150, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-container .control-btn .play-btn {
  opacity: 1;
}

.footer {
  color: #8e989c;
  font-style: normal;
  line-height: 24px;
  border-top: 1px solid #e4eaeb;
}

.half-video-height {
  height: calc((var(--video-height)) / 2);
}

.transform-top-50-video {
  transform: translateY(calc(-1 * (var(--video-height) + 32px) / 2));
}

.negative-margin-50-video {
  margin-bottom: calc(-1 * (var(--video-height)) / 2);
}

/* Youtube Embed CSS */

.yt-video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.yt-video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.animate-heartbeat {
  animation: heartbeat 1s ease-in-out infinite;
}

@keyframes heartbeat {
  0% {
    transform: scale(0.9);
  }

  50% {
    transform: scale(1);
  }

  100% {
    transform: scale(0.9);
  }
}

.ios-peek {
  position: fixed;
  z-index: -1;
  bottom: 0;
  left: 0;
  padding-top: 100px;
  width: 100vw;
  background: white;
  color: #aeb4b7;
  text-align: center;
  font-size: 0.7rem;
}
