/* Background Styles */

.bg-primary {
  background-color: var(--primary);
}

.bg-grid {
  background-image: url('/grid.png');
}

.bg-grid-white {
  background-image: url('/grid-white.png');
}

/* Design Text Styles */

.hero-heading {
  color: #f3f3f3;
  font-style: normal;
  font-weight: normal;
  line-height: 110%;
}

.hero-heading-700 {
  color: #f3f3f3;
  font-weight: 400;
  line-height: 130%;
}

.ui-text {
  color: #f3f3f3;
  font-weight: 300;
  line-height: 150%;
}

/* Button and its variants */

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  line-height: 32px;
  transition: 0.2s all linear;
}

.button:hover {
  opacity: 0.8;
}

.primary-button {
  background-color: white;
  color: var(--primary);
}

.secondary-button {
  background-color: var(--primary);
  color: white;
}

.outlined-button {
  background-color: transparent;
  color: white;
  border: 2px solid #7d98a6;
}

/* Step Grid Component Styles */

.step-item .step-item-label {
  border: 3px solid #7d98a6;
  background: var(--primary);
}

.step-item a {
  width: 100%;
}

.step-item .step-item-id {
  background: #7da3b6;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow:
    0px 1px 5px 0px rgba(3, 0, 92, 0.09),
    0px 6px 16px 0px rgba(3, 0, 92, 0.12);
  position: relative;
  top: 21px;
}

/* Footer Styles */

.footer {
  color: #8e989c;
  font-style: normal;
  line-height: 24px;
  border-top: 1px solid #e4eaeb;
}

/* Translate Video Container to -50% at Y-axis  */

.half-video-height {
  height: calc((var(--video-height)) / 2);
}

.transform-top-50-video {
  transform: translateY(calc(-1 * (var(--video-height) + 32px) / 2));
}

.negative-margin-50-video {
  margin-bottom: calc(-1 * (var(--video-height)) / 2);
}

/* Other Styles */

.ios-peek {
  position: fixed;
  z-index: -1;
  bottom: 0;
  left: 0;
  padding-top: 50vh;
  width: 100vw;
  background: white;
  color: #aeb4b7;
  text-align: center;
}

.clip-bottom {
  clip-path: polygon(50% 0, 100% 100%, 0 100%);
}
