:root {
  --primary: #638596;
  --text-color: #fff;
}

body {
  color: var(--text-color);
  background: var(--primary);
}

* {
  box-sizing: border-box;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
