:root {
  --primary: #638596;
  --text-color: #fff;
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--text-color);
  background: var(--primary);
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-smooth: never;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
